<div class="banner-box">
  {% if section.settings.display_type == 'single' %}
    {%- for block in section.blocks limit: 1 -%}
      <div class="banner-item">
        <div class="banner-image">
          {%- if block.settings.banner_image != blank -%}
            {% assign alt_text = block.settings.banner_image.alt | default: 'Banner Image' %}
            {{
              block.settings.banner_image
              | image_url: width: 2000
              | image_tag: width: block.settings.banner_image.width, alt: alt_text, fetchpriority: 'high'
            }}
          {%- endif -%}
        </div>
        <div class="banner-content">
          <div class="banner-content-left">
            {%- if block.settings.title != blank -%}
              {{ block.settings.title }}
            {%- endif -%}
          </div>
          <div class="banner-content-right">
            {%- if block.settings.banner_description != blank -%}
              {{ block.settings.banner_description }}
            {%- endif -%}
            {%- if block.settings.banner_text != blank -%}
              <a href="{{ block.settings.banner_url }}">{{ block.settings.banner_text }}</a>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {% else %}
    {%- for block in section.blocks -%}
      <div class="banner-item">
        <div class="banner-image">
          {%- if block.settings.banner_image != blank -%}
            {% assign alt_text = block.settings.banner_image.alt | default: 'Banner Image' %}
            {{
              block.settings.banner_image
              | image_url: width: 2000
              | image_tag: width: block.settings.banner_image.width, alt: alt_text, fetchpriority: 'high'
            }}
          {%- endif -%}
        </div>
        <div class="banner-content">
          <div class="banner-content-left">
            {%- if block.settings.title != blank -%}
              {{ block.settings.title }}
            {%- endif -%}
          </div>
          <div class="banner-content-right">
            {%- if block.settings.banner_description != blank -%}
              {{ block.settings.banner_description }}
            {%- endif -%}
            {%- if block.settings.banner_text != blank -%}
              <a href="{{ block.settings.banner_url }}">{{ block.settings.banner_text }}</a>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {% endif %}
</div>

{% schema %}
{
  "name": "Index-banner",
  "tag": "section",
  "class": "index-banner-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "display_type",
      "label": "Banner Display Type",
      "options": [
        { "value": "single", "label": "Single Banner" },
        { "value": "carousel", "label": "Carousel" }
      ],
      "default": "single"
    }
  ],
  "blocks": [
    {
      "name": "indexBannerItems",
      "type": "indexBannerItems",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Banner Title"
        },
        {
          "type": "inline_richtext",
          "id": "banner_description",
          "label": "Banner Description"
        },
        {
          "type": "url",
          "id": "banner_url",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "banner_text",
          "label": "Button Text"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Index-banner"
    }
  ]
}
{% endschema %}
